{% extends 'layout.html.twig' %}

{% block title %}About{% endblock %}


{% block main %}    
    <div class="about-page">
        <div class="about-page-icon">    
            <i class="app-menu__icon fa fa-info"></i>
            About this website
        </div>

        <div>
            <p>This website is simply a portfolio developped by Abdoul Alim Idlbi.</p>
            <p>These projects are only here to show my skills as they improve.</p>
            <p>If you have an issue with the website, please <a href="mailto: abdoulalim.idlbi@gmail.com">contact me</a>.</p>
        </div>

        <div>
            <p>Developped by : <b>Abdoul Alim Idlbi</b></p>
            <p>Framework : <b>Symfony 6.0</b></p>
            <p>Database : <b>PhpMyAdmin</b></p>
            <p>Icons : Font Awesome, Devicon</p>
            <p>CSS : Bootstrap</p>
        </div>
    </div>
{% endblock %}
