{% extends 'layout.html.twig' %}

{% block title %}Projects
{% endblock %}

{% block main %}
	<div class="projects-page-main">
		{% if projects %}
			{% for project in projects %}
				<a class="project-card" href="{{ path('projects_details_page', { 'id': project.id }) }}">
					<div class="project-card-image">
						{% for image in project.images %}
							{% if loop.first %}
								<img src="{{ asset( image.path ) }}" alt="project{{project.id}}-img">
							{% endif %}
						{% endfor %}
					</div>					
				</a>
			{% endfor %}
		{% else %}
			<div>
				No Projects have been added yet
			</div>
		{% endif %}

	</div>
{% endblock %}
