<div class="developper-info-section">
	<div class="developper-info-section-row">
		<div class="developper-photo">
			<img src={{ asset('uploads/images/dev-image.jpeg') }} alt="dev-image">
		</div>

		<div class="developper-info">
			<div class="developper-info">
				<div class="developper-info-row">
					<div class="dev-name">
						Abdoul Alim Idlbi
					</div>
				</div>
				<div class="developper-info-row">
					<div>
						<a class="btn resume-button">
							Resume FR
							<i class="fa fa-download"></i>
						</a>
					</div>
				</div>
				<div class="developper-info-row">
					<div>
						<a class="btn resume-button">
							Resume EN
							<i class="fa fa-download"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
