{% if skills %}
	<div class="developper-info-lang">
		{% for skill in skills %}
			<div class="skill-row">
				<div class="skill-image">
					<img src="{{ skill.iconLink }}" alt="{{ skill.name }}-icon"/>
				</div>

				<div class="skill-name">
					<div>
						{{ skill.name }}
					</div>
				</div>
			</div>
		{% endfor %}		
	</div>
{% endif %}
