<div class="app-intro-section">

	<div class="experience-card">
		<div class="experience-date"></div>

		<div class="experience-details">

			<div class="experience-details-row">
				<div class="experience-company-name"></div>

				<div class="experience-company-location"></div>
			</div>

			<div class="experience-details-row">
				<div class="experience-position-detail"></div>
			</div>
		</div>
	</div>

</div>
